.gradle
/build/
/logs/
/libs/
!gradle/wrapper/gradle-wrapper.jar
*.lic
*.sign
*.zip
*.p12
*.cert
*.crt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### VSCODE ###
/.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
