<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button (click)="onClickGenerate()" type="button" class="btn btn-primary">Generate License</button>
    </div>
    <div class="col">
      <input hidden type="file" accept="application/zip" #file (change)="handleFileInput($event)">
      <button type="button" class="btn btn-primary" (click)="file.click()">View License</button>
    </div>
    <div class="col">
      <button (click)="onClickUpdate()" type="button" class="btn btn-primary">Update List</button>
    </div>
  </div>
</div>