/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
.reverse tree-node-expander {
  order: 0;
}
.reverse tree-node-checkbox {
  order: 1;
}
.reverse .node-content-wrapper {
  order: 2;
}

.viewLicenseModalDialogClass {
  max-width: 95vw;
  width: 95vw;
}

.viewLicenseContentClass {
  max-height: 95vh;
  height: 95vh;
}

.formHeight {
  height: 10%;
}

.treeDiv {
  height: 90%;
  position: relative;
}

.treeInner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}