<!-- Just an image -->
<nav class="navbar navbar-light bg-success">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/rtklogo2.png" width="213" height="41" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Generator <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Viewer</a>
        </div>
      </div>
  </nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<tree-root class="reverse" [nodes]="nodes" [options]="options"></tree-root>